<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <!-- <div id="productDetails">
        <table id="table">
            <thead>
                <th>PRODUCT</th>
                <th>QUANTITY</th>
                <th>RATE</th>
                <th>AMOUNT</th>
            </thead>
            <tbody>
                <tr v-for="(item, index) in tabledata">
                    
                    <td> <select v-model="selectedProduct">
                            <option disabled value="" selected>SELECT</option>
                            <option v-for="i in productList">
                                {{i.productName}}
                            </option>
                        </select></td>
                    <td><input type="number"  @input="totalAmount()"
                            v-model="saveProducts.avalibleQuantity"></td>
                    </td>
                    <td><input type="text" v-model="saveProducts.rate"></td>
                    <td><input type="number" v-model=" amount"></td>
                </tr>
            </tbody>
        </table>
        <button @click="calling()">Add New Line</button>
        <p>{{tabledata}}</p>
    </div> -->
    <div id="productDetails">
        <form>
            <div class="form-group">
                <label><b>Product:</b></label>

                <select v-model="selectedProduct" @change="displayRate()">
                    <option disabled value="" selected>SELECT</option>
                    <option v-for="i in   productList">
                        {{i.productName}}
                    </option>
                </select>
            </div>
            <div >
                <label><b>Quantity</b></label>
                <input type="number"  @input="totalAmount()" @keyup="calling()"
                    v-model="saveProducts.avalibleQuantity">
            </div>
            <div class="form-group">
                <label><b>Rate</b></label>
                <input type="text" v-model="saveProducts.rate">
            </div>
            <div class="form-group">
                <label><b>Amount</b></label>
                <input type="number" v-model=" amount">
            </div>

            <table id="table" v-if="tableShow">
                <thead>
                    <th>PRODUCT</th>
                    <th>QUANTITY</th>
                    <th>RATE</th>
                    <th>AMOUNT</th>
                </thead>
                <tbody>
                    <tr v-for="(i,index) in   productArray">
                        <td>{{i.productName}}</td>
                        <td>{{i.quantity}}</td>
                        <td>{{i.rate}}</td>
                        <td>{{i.amount}}</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td>{{total}}</td>
                    </tr>
                </tbody>
            </table>
            
    </div>
    </form>
</div>

    <script src=addProduct.js></script>
    <script>
        
    </script>
</body>

</html>