<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="test">
        <h1 v-if="seen">50 is greater </h1>
        <h1 v-if="seen">false Statement </h1>
    </div>
    <div id="forLoop">
        <ol>
            <li v-for="i in fruits">
                {{i.text}}
            </li>
            
        </ol>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
      </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        let vue= new Vue({
            el:"#test",
            data:{
                seen:true
            }
        })
        let a=-50;
        if(a>10){
           vue.seen=true; 
        }
        else
        {
            vue.seen=false;  
        }
        //for in Loop in Vue Js
        let vue1=new Vue({
            el:"#forLoop",
            data:{
                fruits:[{
                    text:"apple"
                },
                {
                    text:"Orange"
                },
                {
                    text:"banana"
                }]
            }
        })

        //handling user input
                var app6 = new Vue({
                    el: '#app-6',
                   data: {
                message: 'Hello Vue!'
                }
          })


    </script>
</body>
</html>